<div class="row justify-content-center bg-light my-4">
    <footer class="col-6 py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accueil</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">A propos</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Conditions générales de vente</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Besoin d'aide ?</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2023 Alpha Bêtise</p>
    </footer>
</div>