<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Alpha Betise</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with add_shopping_cart icon"
      (click)="opened = !opened"
    >
      <mat-icon matBadge="15" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-panier
  [isExpanded]="opened"
  (toggleValue)="valueChanged($event)"
></app-panier>
