<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="me-2">Alpha Betise</span>
    <a mat-raised-button routerLink="" class="me-2 bg-secondary" >Accueil</a>
    <a mat-raised-button routerLink="/evenements" class="me-2 bg-secondary">Rencontres</a>
    <a mat-raised-button routerLink="/conseils-lecture" class="me-2 bg-secondary">Conseils lecture</a>
    <a mat-raised-button routerLink="" class="me-2 bg-secondary">Librairie</a>
    <a mat-raised-button routerLink="" class="me-2 bg-secondary">Contact</a>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with add_shopping_cart icon"
      (click)="opened = !opened"
    >
      <mat-icon matBadge="15" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-panier
  [isExpanded]="opened"
  (toggleValue)="valueChanged($event)"
></app-panier>
