<mat-card class="bg-light">
  <mat-card-header>
    <div class="box-img me-1 mb-2">
      <img
      *ngIf="evenement.livre.photo"
        mat-card-sm-image
        src="{{ evenement.livre.photo }}"
        class="rounded"
      />
      <img *ngIf="!evenement.livre.photo" mat-card-sm-image src="https://urlz.fr/kGzQ" class="rounded" />
    </div>
    <mat-card-title-group class="w-100 align-items-center">
      <mat-card-title class="fs-3">{{ evenement.titre }}</mat-card-title>
      <mat-card-subtitle
        class="fs-5"
        [ngStyle]="{ color: eventConfig.customColor }"
        >{{ eventService.getFullDate(evenement.date) }}</mat-card-subtitle
      >
      <div>
        <p
          class="fs-5"
          *ngIf="evenement.maxParticipants && !eventConfig.isPast"
        >
          <span class="fst-italic fs-6">Participants : </span>
          <span
            class="fw-bold"
            [ngStyle]="{ color: eventService.colorParticipants(evenement) }"
          >
            &nbsp;{{ evenement.utilisateurs.length }}</span
          >
          /{{ evenement.maxParticipants }}
        </p>
        <p
          *ngIf="evenement.prix"
          class="text-center fst-italic fs-5"
          [ngStyle]="{ color: eventConfig.customColor }"
        >
          prix: {{ evenement.prix }}&euro;
        </p>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="p-5 rounded text-white">
    <div class="filtre rounded"></div>
    <div style="z-index: 3; position: inherit">
      <p class="fs-4 fst-italic">Public: {{ evenement.agePublic }}</p>
      <p class="fw-bold">{{ evenement.livre.titre }}</p>
    </div>
    <div class="d-flex justify-content-end">
      <a
        *ngIf="!eventConfig.isPast && isNotFull(evenement)"
        mat-raised-button
        color="primary"
        class="mt-3"
        style="float: right"
        routerLink="/inscription/{{ evenement.id }}"
      >
        S'inscrire
      </a>
    </div>
  </mat-card-content>
</mat-card>
