<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="fs-1">Informations personnelles:</h1>
                </div>
                <div class="card-body">
                   <h3 class="card-title">{{user.prenom + " - " + user.nom}} </h3>
                   <p>Email: {{user.email}} </p>
                   <button class="btn btn-outline-primary">Modifier mon mot de passe</button>
                </div>
            </div>
        </div>
    </div>
</div>
