mat-card:hover .img {
    width: 70px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all ease 0.5s;
}

.img {
    transition: all ease 0.5s;
}

.box-img {
    width: 90px;
    height: 90px;
}

.mat-paginator {
    display: flex;
    justify-content: center;
}

mat-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}