<div class="container" style="padding-top: 100px">
  <h1 class="fs-1 mb-5">Conseils de lecture</h1>
  <mat-form-field appearance="legacy" color="primary">
    <mat-label>Filtrer</mat-label>
    <input
      matInput
      placeholder="Catgerorie"
      [matAutocomplete]="auto"
      [formControl]="filterControl"
    />
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let categorie of filteredOptions(categories)" [value]="categorie">
        {{ categorie }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="row">
    <div class="col-lg-3 mb-3 col-md-4" *ngFor="let livre of obs | async">
      <app-livre
        [livre]="livre"
      ></app-livre>
    </div>
  </div>
  <mat-paginator
    [pageSizeOptions]="[4, 8, 16, 32]"
    [pageSize]="8"
  ></mat-paginator>
</div>
